version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "CreditCardOddsAPI"
s3_bucket = "your-s3-bucket-name"
s3_prefix = "CreditCardOddsAPI"
region = "us-east-2"
capabilities = "CAPABILITY_IAM"
parameter_overrides = "ENDPOINT=\"your-rds-endpoint.region.rds.amazonaws.com\" DATABASE=\"creditodds\" USERNAME=\"your-username\" PASSWORD=\"your-password\" CardsJsonUrl=\"https://your-cloudfront-domain.cloudfront.net/cards.json\""
image_repositories = []
confirm_changeset = false
disable_rollback = true
